Options -MultiViews
RewriteEngine On
RewriteBase /

# Serve .html files without the .html extension in the URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L,NC]

# Custom 404 page
ErrorDocument 404 /404.html
